* {
  margin: 0;
  
}


.landing-page-container{
  position: fixed;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/48/Silly_Dog_%282277051513%29.jpg");
  background-position: center;
  background-size:cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}



.landing-page-container-title{
  width: 50%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.73);
  border: 3px solid #f1f1f1;
  font-weight: bold;
  padding: 60px;
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  justify-content: space-between;
}

.titulo-landing{
  color: rgb(255, 255, 255);
  font-family: monospace;
  font-size: 1200%;
  font-family: monospace;
  display: flex;
  justify-content: center;
  margin: 0;
}


.landing-page-container-boton{
  width: 100%;
  display: flex;
  justify-content: center;
}


.boton-ingreso {
  background-color: #fed400;
  font-family: monospace;
  height: 80px;
  width: 200px;
  border-radius: 10%;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }

  .boton-ingreso:hover{
  background-color: #ffdc30;
}

.button-container{
  margin-top: 2%;
  display: flex;
  justify-content: center;
}